body {
    background-color: white;
    font-family: 'Calibri', sans-serif;
}

header {
    background-color: #98a5aa;
    /* border: rgb(40, 192, 243) 2px solid; */
    padding: 10px 15px 10px 15px;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;
    color: white;
}

#buttons {
    float: right;
    padding: 0px 1px 10px 0px;
}

button {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 2px solid #98a5aa;
    background-color: #d3dde0;
    width: 30px;
    height: 30px;
}

button:hover{
    background-color: #98a5aa;   
    color: white;
}

button:active{
    background-color: rgb(40, 192, 243);   
}

button:focus{
    outline: none;   
}

#main {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* width: 95%;
    background-color: blue; */
}

.note {
    background-color: #d3dde0;
    width: 210px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 15px;
    border-radius: 10px;
    /* float: left; */
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
}

p {
    text-align: justify;
}